/* body, div#sidebarm div#content from https://stackoverflow.com/questions/15590803/how-to-implement-fixed-sidebar-correctly
   div#sidebar button, div#sidebar ul by me
 */

body {
    padding-left: 200px;
    margin: 0;
}

div#sidebar-left {
    position:fixed;
    height:100%;
    width:200px;
    top:0;
    left:0;
    background:royalblue;
    color:black;
    font-weight: bold;
}

div#flash {
    color: lawngreen;
}

div#sidebar-right {
    overflow: auto;
    overflow-x: hidden;
    position:fixed;
    height:100%;
    width:200px;
    top:0;
    right:0;
    background:royalblue;
    color:black;
    font-weight: bold;
}
.sidebar {
    border: 10px black;
}
div.sidebar a{
    color: lawngreen;
}
div.sidebar button {
    background:darkseagreen;
}

div.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding:0;
}

div#content {
    width: 100%;
    height: 800px;
}

.hex {
    float: left !important;
}

/* TODO scrollbar is ugly */
.radio {
    border: 1px solid green;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 500px;
}
p.message-text {
    margin-bottom: 0;
    word-wrap: break-word;
}

p.message-timestamp {
    font-size: 60%;
}

.announcement {
    color: red;
}

.server-log {
    color: white;
}
/*
.top {
    position: absolute;
    left:0; right:0;
    height: 92px;
}


.left {
    position: absolute;
    padding-top: 30px;
    left:0; top:120px; bottom: 0;
    width: 178px;
}
.main {
    position: absolute;
    left:178px; top:92px; right:200px; bottom:0;
}

 bootstrap class overwrite
.container {
    padding-left: 130px !important;
}*/