/* body, div#sidebarm div#content from https://stackoverflow.com/questions/15590803/how-to-implement-fixed-sidebar-correctly
   div#sidebar button, div#sidebar ul by me
 */
/*
body {
    padding-left: 200px;
    margin: 0;
}

td {
    display: block;
    float: left;
    border: 1px solid black;
    width: 32%;
    padding-bottom: 32%;
}

td div {
    position: absolute;
}

table {
    display: block;
    width: 100%;
}

tr {
    display: block;
    width: 100%;
}

tbody {
    display: block;
    width: 100%;
}

div#sidebar-left {
    position:fixed;
    height: 100%;
    width: 200px;
    top: 0;
    left: 0;
    padding: 5px;
    background: #14A5C9;
    color: black;
    font-weight: bold;
}
*/
p.action-notification {
    color: lawngreen;
}

div.sidebar {
    background: #14A5C9;
    font-weight: bold;
    height: 100%;
}

div#sidebar-right {
    width: 15%;
    float: left;
}
div#sidebar-left {
    width: 15%;
}
/*
div#sidebar-right {
    overflow: auto;
    overflow-x: hidden;
    position: fixed;
    height: 100%;
    width: 200px;
    top: 0;
    right: 0;
    background: #14A5C9;
    color: black;
    font-weight: bold;
}

.sidebar {
    border: 10px black;
}
div.sidebar a{
    color: #05fcbe;
}
div.sidebar button {
    background: white;
}

div.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


div#content {
    width: 85%;
    height: 800px;
    margin-left: 0 !important;
}
*/
.hex {

}
div#player_here_also p {
    margin: 0;
}

p#troops_here_count {
    margin-bottom: 0;
}

div.sidebar-nav li {
    list-style-type: none;
    margin-top: 10px;
}

.radio {
    border: 1px solid green;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 280px;
    max-height: 250px;
}

.radio::-webkit-scrollbar {
    -webkit-box-shadow: black;

    border: 1px solid black;
    background-color: white;
    width: 7px;
}

.radio::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border-color: black;
    -webkit-box-shadow: inset 0 0 6px rgb(9, 255, 9);
}

ul#message-list {
    list-style-type: none;
    padding-left: 10px;
}

p.message-text {
    margin-bottom: 0;
    word-wrap: break-word;
}

p.message-timestamp {
    font-size: 60%;
}

.announcement {
    color: red;
}

.server-log {
    color: white;
}

.location {
    background-color: #b5b5b5;
    font-weight: bold;
}

.location a{
    color: white;
}

a {
    color: white;
}

.location-Red {
    background-color: red;
    font-weight: bold;
}

.location-Black {
    background-color: black;
    font-weight: bold;
}

.location-Yellow {
    background-color: #dede10;
    font-weight: bold;
}

.location-Blue {
    background-color: blue;
    font-weight: bold;
}

.location-city {
    font-weight: 900;
    border: 5px dashed #dddddd !important;
}

.location-capital {
    border: 5px solid #dddddd !important;
}
/*
button#logout {
    background-color: grey;
    color: white;
}
*/
.col-md-1 {
    width: 90px;
    height: 90px;
}

.container {
    width: 65% !important;
}
/*
.top {
    position: absolute;
    left:0; right:0;
    height: 92px;
}


.left {
    position: absolute;
    padding-top: 30px;
    left:0; top:120px; bottom: 0;
    width: 178px;
}
.main {
    position: absolute;
    left:178px; top:92px; right:200px; bottom:0;
}

 bootstrap class overwrite
.container {
    padding-left: 130px !important;
}*/